body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.4;
  background-color: rgb(245, 242, 242);
}
html, body {
  width: 100%;
}

*{
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.headerNav {
  width: 100%;
}

/* Header */
.headerNav__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 0;
}

.headerNav__top > a[href='/'] {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.logo {
    margin: 0;
    width: 170px;
}

.header__botom {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 5px 0;
}

.navBar {
  display: flex;
}

.navBar a{
  padding: 8px 0;
  margin-right: 32px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  white-space: nowrap;
}

.navBar a:hover {
  text-decoration: underline;
}

.date {
  color: rgba(0, 0, 0, 0.54);
}


/* Footer */
.footerBar {
  background-color: #2E3339;
  color: rgba(255, 255,255, 0.85);
  padding: 40px 0;
  margin-top: 60px;
  font-weight: 400;
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-menu a{
  padding: 8px 0;
  margin-right: 32px;
  font-size: 16px;  
  text-decoration: none;
  color: rgba(255, 255,255, 0.85);
  font-weight: 400;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.copy {
  font-size: 14px;
}


.site-content {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  margin-top: 40px;
  width: 100%;
}

.main {
  width: calc(100% - 220px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main_categories {
  width: 100%;
}

.main_categories .article {
  width: 23%;
}

.aside {
  width: 280px;
}

.aside > div{
  border-bottom:1px solid #ccc;
  margin-bottom: 15px;
}

.aside__banner {
  max-width: 100%;
}
.aside__banner img {
  max-width: 100%;
}

.article {
  margin-right: 20px;
  margin-bottom: 30px;
  width: 30%;
}
.article .MuiCardHeader-title{
  max-height: 52px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article .MuiTypography-h5{
  font-size: 20px;
}

.flex-icon {
  display: flex;
  align-items: center;
  color: #666;
  line-height: 22px;
  font-size: 15px;
  margin-right: 35px;
}

.flex-icon svg{
  margin-right: 5px;
}

.article-body {
  padding-right: 40px;
}
.article-body__head {
  display: flex;
  align-items: center;
}

.article-body img {
  max-width: 100%;
}

.article-body img + img {
  margin-left: 15px;
}

@media (max-width: 1140px) {
  .article { 
    width: 30%;
  }
}

@media (max-width: 991px) {
  .article { 
    width: 45%;
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    justify-content: space-between;
  }

  .navBar {
    overflow: hidden;
    overflow-x: auto;
  }

  .aside {
    display: none;
  }
  .article,
  .main_categories .article { 
    width: 48%;
  }

  .article:nth-child(even) {
    margin-right: 0;
  }

  .date {
    display: none;
  }

  .footerBar {
    padding: 30px 0;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  .footer-menu {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 40px;
  }

}

@media (max-width: 570px) { 
  .article,
  .main_categories .article { 
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .logo {
    width: 110px;
}

  .headerNav__user {
    font-size: 14px;
  }
}

.asideTexts{
  word-wrap: break-word;
  margin-bottom: 10px;
}
.category-title{
  font-size: 30px;
  margin-bottom: 10px;
  color:#3f51b5;
  width: 100%;
}
.closeBtn{
 font-size: 22px;
 cursor: pointer;
 align-self: flex-end;
 margin-right: 15px;
}